body {
    font-family: 'Noto Serif', serif, Arial, sans-serif;
    background-color: #f5f0e1;
    color: #3c2f2f;
}
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    animation: fadeOut 1s ease-in-out 2s forwards;
}
.mb-4 {
    width: auto;
    height: 10%;
}
.room-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.room-card:hover, .room-card:focus {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    outline: 2px solid #8b5e34;
}
.fade-in {
    animation: fadeIn 1s ease-in-out;
}
.slide-up {
    animation: slideUp 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; visibility: hidden; }
}

@font-face {
  font-family: 'AnekMalayalam';
  src: url('assets/fonts/AnekMalayalam-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'AnekMalayalam';
  src: url('assets/fonts/AnekMalayalam-Regular.ttf') format('truetype');
  font-weight: 600;
}

#title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #8b5e34;
    font-family: 'AnekMalayalam', sans-serif;
}

#subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #6b4f4f;
    font-family: 'anekMalayalam', sans-serif;
}